
body {
    margin: 0px;
}

.MuiAppBar-positionSticky {
    background: #032541 !important;
}

.menuPrincipal {
    list-style-type: none;
    list-style: none;
}

.menuPrincipal a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    padding: 0 7px;
}

.menuPrincipal a:hover{
    text-decoration: underline;
}

.menuPrincipal li{
    display: inline;
    font-size: 13px;
}

.paddingContent{
    padding: 25px;
}

.cardContenido{
    width: 145px;
    height: 260px;
    padding: 0 30px;
}

.cardContenidoPeople{
    width: 400px;
    height: 295px;
    padding: 0 10px;
}

.cardContenidoImg{
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 5%;
    width: 130%;
    min-height: calc(145px * 1.5);
    height: calc(145px * 1.5);
    overflow: hidden;
    margin-bottom: -10px;
}

.cardContenidoImgPeople{
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 5%;
    width: 170px;
    min-height: calc(170px * 1.5);
    height: calc(170px * 1.5);
    overflow: hidden;
}

.cardTitulo{
    padding: 0px;
    margin-top: -14px;
    font-size: .9rem;
    font-weight: 500
}

.cardTituloPeople{
    padding: 0px;
    margin-top: 0px;
    font-size: .9rem;
    font-weight: 500
}

.cardFecha{
    font-size: .8rem;
    font-weight: 500;
    color: grey;
    margin-bottom: -10px;
}

.MuiRating-sizeSmall {
    font-size: 1rem !important;
}

.MuiButton-outlinedPrimary {
    color: #ffffff !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.MuiButton-outlinedSecondary {
    color: #ffffff;
    border: 1px solid rgba(250, 255, 255, 0.5);
}

